* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
h1,h2,h3,p,span {
  font-weight: 100;
}


@font-face {
  font-family: 'Glacial Indifference';
  src: url('fonts/glacial-indifference.regular.otf') format('opentype');
  src: url('fonts/GlacialIndifference-Bold.otf') format('opentype');
  src: url('fonts/Roboto-Light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

p {
  color: #555555;
}


/* first-section */

.colored-back {
  background-color: #DDDDDD;
  width: 100%;
  height: auto;
  font-family: 'Glacial Indifference', sans-serif;
  position: relative;
}

.headerlike {
  position: absolute;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blue-dot {
  color: #0081FF;
}
.roca {
  margin: 90px;

  @media (max-width: 630px) {
    margin: 30px;
  }
}


.h2 {
  font-size: 35px;
  font-weight: 100;
}
.resume-template {
  font-size: 14px;
  opacity: 100%;
   color: #B3B3B3;
}


.aboutmea01 {
  position: absolute;
  margin: 63px 66px 0 86vw;
  @media (max-width: 827px) {
    margin: 63px 50px 0 70vw;
    margin-top: 60px;
  }
  @media (max-width: 630px) {
    margin-top: 30px;
  }
}


.a01 {
  font-size: 100px;
}

.aboutme {
  color: #373737;
  font-size: 30px;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}


/* slide-imgstyles */

.image-container {
  width: 50%;
  height: auto;
  position: absolute;
  overflow: hidden;
}

.my-img {
  max-height: 1000px;
  @media (max-width: 658px) {
    width: 300px;
  }
}

.button-next {

  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 1.5px solid rgb(236, 239, 241);
  box-shadow: rgb(212, 215, 217) 0px 4px 12px;
  cursor: pointer;
}
.button-next:hover {
  background-color: #DDDDDD;
}


.slider ul li {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.slider {
  display: flex;
  justify-content: flex-start;
  /* margin-left: 500px; */
}
.slider ul li:first-child {
  display: block;
}


.person-main-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0 79px 0 79px ;

  @media (max-width: 850px) {
    flex-direction: column;
  }

  @media (max-width: 630px) {
    padding: 0 20px 20px 20px;
  }
}

.name-occupation {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  line-height: 63px;
  margin-bottom: 0;
  
  @media (max-width: 1183px) {
    position: absolute;
    margin: 15px auto;
    margin-top: 65vw;
    line-height: 40px;
  }
}
.Hi {
  font-size: 51px;
  @media (max-width: 666px) {
    font-size: 30px
  }
}

.occupation {
font-size: 23px;
}

.media-icons {
  width: 25px;
  border-radius: 50%;
  margin: 25px 9px;
}


/* section2 */

.section2-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  font-family: 'Glacial Indifference-Bold', sans-serif;
  position: relative;
  margin-top: 90px;
  /* max-width: 1051px; */
  @media (max-width: 1000px) {
    flex-direction: column;
  }

}

.information {
  display: flex;
  flex-direction: column;
  align-items: end;
  line-height: 28px;

  *:not(:first-child) {
    margin: 7px 0;
  }

  @media (max-width: 630px) {
    margin: 30px;
  }
}

.my-name-again {
  color: #222222;
}

.occupation2 {
  color: #DAAE19;
}

.description {
  width:334px ;
  text-align: justify;



  @media (max-width: 630px) {
    width: auto;
  }
}


.hire-me {
  background-color: #E93656;
  color:#FFFFFF;
  border: none;
  padding: 15px;
  width: 120px;
  transition-duration: 1s;
}

.hire-me:hover {
  background-color: #DDDDDD;
  color: #222222;

}
.middle-img-itself {
  width: 300px;
  margin: 69px;

  @media (max-width: 630px) {
    margin: 20px;
    width: 250px;
  }
}

.bar-wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: 1000px) {
    margin-bottom: 50px;
  }
}

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bar-cont {
  background-color: #F0F0F0;
  width: 228px;
}
.myBar {
  height: 7px;
  width:100%;
  background-color: #E93656;
}
.persentage {
  color: #E93656;
  padding: 13px;
}


/*SECTION 3 CONTACT*/

.contact-me-wrapper {
  background-color: #131A36;
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  font-family: 'Glacial Indifference-Bold', sans-serif;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.contact-me {
  display: flex;
  flex-direction: row;
  padding: 25px;
  justify-content: center;
}

.information-address {
  color: #FFFFFF;
  font-size: 25px;
}

.address {
  color: #DFDFDF;
  font-size: 13px;
  text-align: left;
  margin-top: 5px;
}

.info-icons-wrap {
  display: flex;
  flex-direction: row;
}

.icon-parrent {
 position: relative;
 border-radius: 50%;
}

.info-icons {
  width: 35px;
  height: 35px;
  display: inline-block;
}

.info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  position: relative;
}

.rounded-border {
  display: inline-block;
  border: 2px dashed white;
  overflow: hidden;
  padding: 24px;
  background-color: #131A36;
  border-radius: 50%;
  transition-duration: 2s;
}

.rounded-border:hover {
  background-color: #E93656;
  border: 2px solid transparent;
 }





/*OFFER SECTION*/


.arround-grid {
  margin: 10vw 20vw;

  @media(max-width: 650px) {
    margin: 10vw;
  }
}

#flexCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.box {
  padding: 70px 40px;
  margin: 3px;
  width: 180px;
  background-color:#FAFAFA;
  font-family: 'Glacial Indifference-Bold', sans-serif;
}

.box:hover {
  background-color: #15263E;
  padding: 30px 15px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.label-box {
  text-align: center;
  font-size: medium;
  color: #222222;
  font-weight: 400;
  padding-top: 20px;
}

.description-box {
  display: none;
}

.box:hover h5 {
  color: white;
  padding-top: 50px;
}

.box:hover img {
  display: none;
}


 .description-box {
  padding: 20px 0;
  text-align: justify;
  font-size: 13px;
}

.box:hover p {
  display: block;
}


/*RECOMENDATIONS*/


.quote {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  line-height: 27px;
  font-family: 'Glacial Indifference-Bold', sans-serif;
}



.overlay-text,.icon-wrap,.quote {
  padding: 15px;
}

.overlay-text {
  max-width: 400px;
  font-size: 11px;
  font-family: 'Roboto light', sans-serif;
  letter-spacing: 1px;
  line-height: 20px;
  color:#DDDDDD;
}

.content-wrap {
  background-image: url("imgs2/clip.jpg");
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;

  @media (max-width: 830px) {
    flex-direction: column;
    height: auto;
  }
}

.changed-content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;

  @media (max-width: 830px) {
    flex-direction: column;
    height: auto;
  }
}

.quote-itself {
  width: 32px;
  margin-bottom: 25px;
}

.icon-wrap {
  display: inline-block;
  border: 2px dashed white;
  overflow: hidden;
  background-color: #131A36;
  border-radius: 50%;
  transition-duration: 1s;
}

.icon-wrap:hover{
  background-color: #E93656;
  border: 2px solid transparent;
}
.ptext {
  color: #E93656;
  font-size: 13px;
}

.rectangle {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: 2px solid white;
  margin: 8px;

  position: relative;
}
.rectangle:hover {
  border: 2px solid #E93656;
}

.rectangle-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 87px;

  @media (max-width: 830px) {
    flex-direction: row;
  }
}

.rectangle-button1 {
  border: none;
  cursor: pointer;
}

#button1, #button2, #button3 {
  width: 14px;
  height: 14px;
  cursor: pointer;
  color:black;
  appearance: none;
  border: none;

  position: absolute;
  left: -2px;
  top: -2px;
}

#button1:checked,
#button2:checked,
#button3:checked {
  border: 3.5px solid red ;
}

.rectangle-wrap {
  margin: 20px;
  overflow: hidden;
}



/*latest projects */


.lt-title {
  text-align: center;
  margin-left: 133px;
  margin-top: 150px;
  font-size: 35px;
  font-family: 'Glacial Indifference-Bold', sans-serif;
}

.around-flex {
  margin: 3vw 24vw;
  display: flex;
  flex-direction: row;
  @media(max-width: 632px) {
    flex-direction: column;
  }
}

.latest-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative

}

.project-box, .content-wrapper {
  padding: 27px 0;
  margin: -1px;
  width: 180px;
  font-family: 'Glacial Indifference-Bold', sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-btn-wrap {
  display: flex;
  flex-direction: column;
}

.nav-button {
  border: none;
  cursor: pointer;
  padding: 6px 32px;
  background-color: #15263E;
  color: white;
  text-align: left;
  @media(max-width: 632px) {
    text-align: center;
  }

}

.nav-button:hover {
  color: #E93656;
}

.img-proj-container {
  border: 2px solid #E93656;
  border-radius: 50%;
  padding: 9px 12px;
  margin: 20px;
}

.title-box {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  margin: 20px;
}
.title-box:hover {
  color: #E93656;
}

.month-ago {
  color:#DDDDDD;
  font-size: 8px;
}





.title-lp {
  text-align: center;
  margin: 60px 0 35px;
}

.news {
  color: #2ED279;
  font-size: 8px;
}

.articles {
  color: #2E2E2E;
  font-size: 38px;
}


.div-box {
  display: flex;
  font-family: 'Glacial Indifference-Bold', sans-serif;
}

.year-wrap {
  transform: rotate(271deg);
  font-size: 20px;
  width: max-content;
  margin-top: 155px;

}

.div-for-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 60%;
  align-items: center;
  background-color: #FAFAFA;
  margin-bottom: 79px;
}

.div-for-cont * {
  margin: 10px;
}

.company {
  color: #888888;
  letter-spacing: 2px;
  font-weight: 100;
}

.occupation {
  letter-spacing: 1px;
}

.some-text {
  letter-spacing: 2px;
  line-height: 26px;
  color: #494949;
}

.number-wrap {
  background-color: #15263E;
  width: 100px;
  color: red;
}

.empty {
  background-image: url('imgs/5afae8c892664274779035.jpg');
  width: 1300px;
}

.text-wrap {
  max-width: 400px;
}

.img-wrap {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 10px;
  max-width: max-content;
  transition-duration: 2s;
}

.img-wrap:hover {
  background-color: #E93656;
}

.some-link {
  text-decoration: none;
  color: #494949;
  font-size: 15px;
}

.some-link:hover {
  color: #E93656;
}



/*rosa team*/

.rosa-team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 140px;
  align-items: center;
  @media (max-width: 730px) {
    flex-wrap: wrap;
  }
}

.rosa-team:hover {
  margin-top: 0px;
}

.kubiks-wrap {
  background-image: url( "imgs/mrs-vyvyan-drury-1907-1996-daughter-romayne-32241038.jpg");
  width: 100px;
  height: 100px;
  position: relative;
  margin: 20px;
  /* margin-top: 60px; */

  display: flex;
  align-items: center;
}

/* HOVER */
.kubiks-wrap:hover {
  background-image:none;
  /* width: 150px;
  height: 150px; */
  /* margin: 20px -5px; */
  /* outline: 4px solid #E93656; */
  .text-wrapp {
    opacity: 1;
  }

  ::after {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    border: 4px solid red;
  }
}

.text-wrapp {
  opacity: 0;
}

.rosa-title {
  color: #161616;
  font-size: 13px;
  font-weight:bold ;
}
.rosa-text {
  color:#626262;
  font-size: 10px;
}


.rosa-title, .rosa-text {
  text-align: center;
  padding: 5px;
}



.map-background {
  background-image: url('imgs2/map.jpg');
  height: 300px;
}


#registrationForm {
  max-width: 800px; 
  margin: 0 auto;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
}

.field {
  display: flex;
  flex-direction: column;
  width: 30%; 
}

.field label {
  order: -1; 
  margin-bottom: 5px;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="url"] {
  width: 240px;
  height: auto; 
  position: relative;
  
}

.field input[type="text"]:focus,
.field input[type="email"]:focus,
.field input[type="url"]:focus {
    outline: none;
}


/* Style the textarea */
.text-area {
  outline: none;
}

textarea {
  resize: none; 
  min-height: 150px; 
  width: 800px;
  position: absolute;
}






.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}